pkgbase = python-sphinxcontrib-qthelp
	pkgdesc = Sphinx extension which outputs QtHelp document
	pkgver = 1.0.8
	pkgrel = 1
	url = https://github.com/sphinx-doc/sphinxcontrib-qthelp
	arch = any
	license = BSD-2-Clause
	checkdepends = python-defusedxml
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-qthelp.git#tag=1.0.8
	b2sums = d461e81d0530b23e772b84d5935effdc04e0b90191e82e7b9be5942557aeddff364cbc55ef993c66ff07420ef32f76b925cf14db67a91eececb85bc7b4a5c4c5

pkgname = python-sphinxcontrib-qthelp
