pkgbase = python-sphinxcontrib-qthelp
	pkgdesc = Sphinx extension which outputs QtHelp document
	pkgver = 1.0.7
	pkgrel = 1
	url = https://github.com/sphinx-doc/sphinxcontrib-qthelp
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-qthelp.git#tag=1.0.7
	b2sums = SKIP

pkgname = python-sphinxcontrib-qthelp
