pkgbase = python-sphinxcontrib-qthelp
	pkgdesc = Sphinx extension which outputs QtHelp document
	pkgver = 1.0.7
	pkgrel = 3
	url = https://github.com/sphinx-doc/sphinxcontrib-qthelp
	arch = any
	license = BSD-2-Clause
	checkdepends = python-pytest
	checkdepends = python-sphinx
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	source = git+https://github.com/sphinx-doc/sphinxcontrib-qthelp.git#tag=1.0.7
	b2sums = 0bb18d9323c175bfdf7ec34d62e5638c7c9bb0c42ccb4cda78bd03eb898d188ca150e16ba5cc09e82bf2731a797e73c065c90bc5cde70a119ba26fd23a272a26

pkgname = python-sphinxcontrib-qthelp
